:root{
    --primary:#F0F7F4;
    --secondary:#2C5E4C;
    --tertiary:#E7C961;
}
.welcome-container{
    height:60%;
    width:70%;
    display: flex;
}
.auth-section{
    height: 100%;
    width: 50%;
}
.welcome-section{
    height: 100%;
    width: 50%;
    background:linear-gradient(to right, white ,var(--tertiary));
    border-radius: 5px;
    display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; 
  box-sizing: border-box;
}
.welcome-section img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

@media(max-width:768px){
  .welcome-section{
    display: none;
  }
  .auth-section{
    width: 100%;
  }
  .welcome-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}