:root{
    --primary:#FAFAFA;
    --secondary:#2C5E4C;
    --tertiary:#E7C961;
}
*{
    margin: 0px;
    padding: 0px;
}
.navbar-container{
    height: 100%;
    width: 100%;
    background-color:var(--tertiary);
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-internal-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.nav-title{
    color:var(--secondary);
}
.nav-elements{
    width: 50%;
    display: flex;
    color: var(--secondary);
    justify-content: space-around;
    align-items: center;
}
.nav-text {
  text-decoration: none;
  /* padding: 5px; */
  display: block;
}
.icon-demo{
    padding:20px 0px;
}

.active-link {
  border-bottom: 2px solid var(--secondary)
}

.inactive-link {
  border-bottom: 2px solid transparent; /* Keeps layout consistent */
}
.align-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.align-authenticate{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media(max-width:768px){
    .nav-internal-container{
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .nav-elements{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
