:root{
    --primary:#FAFAFA;
    --secondary:#2C5E4C;
    --tertiary:#E7C961;
}

.product-filter-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.product-filter-input{
    width:40%;
}
.product-filter-category
{
    width: 40%;
}

@media(max-width:768px){
    .product-filter-container{
        width: 80%;
    }
}