:root{
    --primary:#F0F7F4;
    --secondary:#2C5E4C;
    --tertiary:#E7C961;
}

.auth-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow:
    -8px 8px 20px rgba(0, 0, 0, 0.15),
    -4px 4px 12px rgba(0, 0, 0, 0.08);
}

.auth-header{
    height: 35%;
    display: flex;
    align-items: center;
}
.auth-form-section{
    height: 50%;
}
.auth-button-container{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}